{% extends 'base.html' %}
{% block content %}

{% include 'header-post.html' %}
{% block head %}

<head>
  <title> {{ object.title }} | Himanshu Mehra</title>
{% endblock %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{{ object.title }} </h1>
        <p class=" text-muted">{{ object.author }} | {{ object.created_on }}</p>
        <p class="card-text ">{{ object.content }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}